/*
Project Name: Fiona's Portfolio
Author: Fiona Saiter
email: runfiona221@gmail.com
*/

/*
Table of Contents
  =01 Reset/Global/Helpers
  =02 Typography
  =03 Nav
  =04 Layout
    =PAGE SPECIFIC STYLES
      =ABOUT
*/

/*****  =01 Reset/Global/Helpers *****/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/***** =02 Typography *****/

body {
    font-family: 'Oswald , sans-serif';
    color: #444;
}

header,
footer {
    font-family: 'Barlow Condensed', sans-serif;
    color: #02a3dd;
}

h1,
h2,
h3,
p {
    font-family: 'Barlow Condensed', sans-serif;
}

h1 {
    margin-bottom: 1em;
    text-align: center;
    font-size: 2.3em;
}

/***** =03 Nav *****/

.social-menu {
    display:flex;
    justify-content: space-between;
    width: 25vw;
    list-style-type: none;
    margin: 0 auto;
}


/***** =04 Layout *****/

.main-header,
footer {
    background-color: #f0f7f8;
}

.main-header {
    padding-top: 3em;
    padding-bottom: 1em;

}

.main-header::after {
    content: '';
    display: table;
    clear: both;
}





/* =Chaos */



h2 {
    margin: 1.5em 0em;
    font-size: 2em;
}



p {
    margin-bottom: .5em;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5em;
}

.norman-text {
    margin: 4em 0;
}

.recipe-text {
    margin: 3em 0;
}

.usa-text {
    padding: 4em 0;
}

.work-para {
    margin-bottom: 2em;
    font-size: 1.5em;
}




.main-content {
    position: relative;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

footer {
    padding-top: 1em;
}

footer::after {
    content: '';
    display: table;
    clear: both;
}

.legal {
    margin-bottom: 1em;
    margin-left: .5em;
}